<header>
    <div class="nav">
        <div class="img">
            <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcThVYJSEXVrFsoNmlQckpKwODbJB2cjkoZLRJyfbJXcFo6oWsxD" alt="" srcset="">

        </div>
        <!-- <div class="search_cont"> -->
            <div class="search_container">
                <i class="fa-solid fa-magnifying-glass"></i>
                <form action="/search" method="GET">
                    <input type="text" name="q" placeholder="Search for your favorite groups in ATG">
                </form>
            <!-- </div> -->
            <!-- <div class="icons">
                <i class="fa-solid fa-magnifying-glass fa-xs"></i>
                <p>Search for your favorite groups in ATG</p>
            </div> -->

        </div>
        <div class="create_acc">
            <a href="">
            <img src="" alt=""><p>Sidhart <i class="fa-solid fa-sort-down"></i></p>
                </a>
        </div>
    </div>

</header>
<!-- <form action="/search" method="GET">
    <input type="text" name="q" placeholder="Search...">
    <button type="submit">Search</button>
</form> -->