
<section class="one">
    <img src="https://res.cloudinary.com/practicaldev/image/fetch/s--p_YN-zEp--/c_imagga_scale,f_auto,fl_progressive,h_420,q_auto,w_1000/https://thepracticaldev.s3.amazonaws.com/i/wg4px15ju2y5s2autczj.jpg" alt="">
    <!-- <div class="bottom-right">
        <div class="icon">
            <i class="fa-solid fa-arrow-left"></i>

        </div>
        <div class="btnsss"><button>Leave Group</button></div>
        
    </div> -->

    <div class="bottom-left">
        <p>Computer Engineering</p>
        <p class="small">142,765 Computer Engineers follow this</p>
    </div>

</section>